@{
    ViewData["Title"] = "Par mums";
}



<div class="container">
    <div class="col-md-6">
        <h2>Par mums</h2>
        CITA BŪTISKA INFORMĀCIJA PAR PRIVĀTUMU

        Trešo personu tīmekļa vietnes

        Mēs, iespējams, sadarbosimies ar trešajām personām, kas parasti tiek sauktas par pakalpojumu sniedzējiem, kas ir pilnvaroti ievietot trešo personu sīkdatnes mūsu vietnēs vai mūsu pakalpojumus, lietotnēs un rīkos ar jūsu piekrišanu. Šie pakalpojumu sniedzēji ļauj mums nodrošināt jums labāku, ātrāku un drošāku tīmekļa vietnes lietošanas pieredzi.

        Ievērojiet, ka uz trešo personu sīkdatnēm attiecas trešo personu privātuma politika, tāpēc mēs neuzņemamies nekādu atbildību par šīm privātuma politikām.

        Bērnu personas dati

        Pakalpojumi, kas tiek sniegti mūsu vietnē, paredzēti personām, kas ir vecākas par 14 gadiem. Individuālas lojalitātes programmas vai konkursa nosacījumi var ietver atšķirīgu vai augstāku minimālā vecuma ierobežojumu dalībniekam.

        Ja mums radīsies pamatotas šaubas par personas, kas nav sasniegusi šajā punktā minēto vecumu, datu apstrādi, mēs šādus personas datus no datu bāzēm dzēsīsim.

        ***


        IZMAIŅAS TAJĀ, KĀ MĒS AIZSARGĀJAM JŪSU PRIVĀTUMU

        Mēs, iespējams, mainīsim šo paziņojumu laiku pa laikam, lai atspoguļotu to, kā mēs apstrādājam jūsu datus.

        Ja mēs ieviesīsim būtiskas izmaiņas, mēs informēsim jūs par to mūsu tīmekļa vietnē vai citādi, piemēram, nosūtot e-pastu, lai jūs varētu izskatīt izmaiņas pirms mūsu tīmekļa vietnes turpmākas izmantošanas.

        ***


        KĀ AR MUMS SAZINĀTIES?

        Mēs vienmēr vēlamies sazināties ar mūsu klientiem (īpaši, ja uzskatāt, ka mēs esam jūs pievīluši vai varētu kaut ko uzlabot).

        Ja:
        jums ir jautājumi vai komentāri par šo paziņojumu;
        jūs vēlaties, lai mēs turpmāk neizmantojam jūsu informāciju;
        jūs vēlaties īstenot jebkuras no iepriekš minētajām tiesībām vai jums ir sūdzības, lūdzu, sazinieties ar mums.

        Jūs varat sazināties ar mūsu privātuma speciālistiem, rakstot mums uz: info@1a.lv
    </div>


    <div class="col-md-6">
        <h2>Kā mūs atrast</h2>
        <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=banku%20augstskola&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">embedgooglemap.net</a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 400px;
                width: 500px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 400px;
                width: 500px;
            }
        </style>
        </div>
    </div>
</div>

